
html, body
  margin 0
  // scroll-behavior smooth
// 导航
.header
  position fixed
  top 0
  left 0
  width 100%
  min-width 1275px
  height 71px
  z-index 99
  background-image linear-gradient(to top, #4f77f5, #639ffa)
  .nav-menu
    padding 0 42px
    height 72px
    line-height 72px
    cursor pointer
    user-select none
  .header-logo
    width 62px
    overflow hidden
    box-shadow 0 0 6px 0px rgba(79, 19, 245, 0.4)
    border-radius 12px
    img
      max-width 100%
.footer
  .footer-container
    .footer-bar
      width 1px
      height 100%
      margin 0 50px
      background-color #525457
    .footer-container-right
      height pxs(380)
      .footer-icon
        width 80px
        height 80px
        border-radius pxs(16)
        box-shadow 0 0 3px 0px rgba(0, 0, 0, 0.25)
        img
          max-width 100%
  .footer-bottom
    padding 13px 0
    .footer-bottom-content
      margin 0
      border-top 1px solid #c9c9c9
      padding pxs(17) 0 pxs(30)
